.bg-cover
{
  background-position: center center;
  background-size: cover;/*充滿全瑩幕*/
}
.font-14
{
    font-size:14px;
}
.icon
{
    width:24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border :1px solid #559AC8;
    margin-top: -12px;
    z-index: 3;
}
.icon-image
{
    height: 10px; 
    width:10px;
}